/* Variables */

$color-one: #ffffff;
$color-two: black;
$color-three: #808080;
$color-four: #F7F7F7;
$color-five: #000000;
$color-six: #1A1A1A;

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    background-color: inherit;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

/* Header */

header {
    height: 100vh;
    background-image: url(https://i.postimg.cc/pV9rCXj7/pexels-adrien-olichon-2387532.jpg);
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    background-color: inherit;
}

.container {
    max-width: 960px;
    margin: 0 auto; 
}

header {
    color: $color-one;
    text-decoration: none;
    
}

.box-menu a {
    color: $color-one;
    text-decoration: none;
    font-weight: lighter;
}

.flexbox-nav {
    display: flex;
}

.box-menu {
    flex: 70%;
}

.box-logo {
    flex: 30%;
    color: $color-one;    
    padding-left: 30px;
    padding-top: 30px;
    text-align: left;
    font-size: 28px;
    
    
}

header ul {
    float: right;
    margin: 0;
    list-style: none;
    display: inline-block;
    padding-top: 48px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

header li {
    display: inline-block;
    padding-right: 30px;
    position: relative;
}

header h1 {
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    padding-top: 150px;
    font-size: 39px;
    font-style: italic;
    font-weight: lighter;
    
}

header h2 {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-size: 71px;
    
}

.button {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;  
    

}

.btn {
    display: inline-block;
    min-width: 150px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    background-color: $color-six;
    color: $color-one;
    font-size: 19px;
    font-weight: lighter;
}

/* Servieces */

.services {
    max-width: 100%;
    padding-bottom: 60px;
}

.flexbox-service {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}

.box-service {
    flex: 0 0 33.333%;     
    text-align: center;
    
}

.box-service i {
    font-size: 35px;
    border-style: solid;
    border-radius: 50%;
    min-width: 65px;
    min-height: 50px;
    padding-top: 15px;
    color: $color-six;
}
.services-title {
    text-align: center;
   
}

.services-title h2 {
    font-weight: 500;
    font-size: 40px;
    color: $color-six;
    padding: 60px 0 60px 0;
    margin: 0;     
}

.services-title h3 {
    margin-top: 15px;    
    padding-bottom: 5px;;
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    color: $color-six;
}

.services .box-service h3 {
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 0;
}

.services .box-service p {
    padding: 25px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.5;
}

/* Portfolio */

.portfolio {
    
    max-width: 100%;
    background-color: $color-four;
}

.portfolio .container {
    
    max-height: 100%;
}

.portfolio .title h2 {
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    padding: 60px 0 60px 0;
    margin: 0;
    
}

.portfolio .title h3 {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    color: $color-three;    
}

.flexbox-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
    
    a {
        text-decoration: none;
    }
}

.portfolio .box-portfolio {
    flex: 0 0 33.333%; 
    font-weight: 500;
    text-align: center;
    height: 390px;
    max-width: 260px;
    margin-bottom: 50px;
    justify-content: space-between;
    background-color: $color-one;
}

.portfolio .box-portfolio img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-portfolio h3 {
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 19px;
    line-height: 1;
    font-weight: normal;
    color: $color-five;
   
}


/* Contact */


.contact h2 {
    padding-top: 60px;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 60px;
    margin: 0;
}

.contact a {
    font-size: 16px;
    font-weight: 400;
    color:$color-five;
    text-decoration: none;
}

.contact .data {
    padding-bottom: 60px;   
}

/* Footer */

.page-footer {
    border-top: groove;
    position: relative;
}

.page-footer p {
    float: left;
    font-size: 14px;
    padding-top: 33px;
    position: absolute;
    bottom: 20px;
    
}

.page-footer ul {
    text-align: center;
    margin: 0;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;

    a {
        font-size: 0px;
    }
}

.page-footer i {
    font-size: 20px;
    color: $color-one;
    background-color: $color-six;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    transition: 1s;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 2px;
}

.page-footer li {
    display: inline-block;
    text-decoration: none; 
}

.page-footer i:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {

    header,
    .container {
        max-width: 100%;
        padding: 0px;
    }
  
    header .box-logo {
        text-align: center;
    }

    header .box-menu {
        padding-left: 20px;
        text-align: center;        
    }

    .box-menu a {
        font-size: 12px;
    }

    header ul {
        float: none;
    }

    header .splash h1 {
        font-size: 24px;
        padding-top: 100px;
    }

    header .splash h2 {
        font-size: 30px;
    }

    .splash h2,
    .services h2,
    .portfolio h2 {
        font-size: 34px;
    }

    .splash .button {
        padding-top: 65px;
    }

    .splash .btn {
        display: inline;
    }

    .flexbox-service,
    .flexbox-portfolio,
    .flexbox-nav {
        flex-direction: column;
        padding: 0px;
    }

    .services .box-service {
        padding-left: 45px;
        padding-right: 45px;
    
        p{
            padding: 25px 0;
        } 
    }


    .portfolio .box-portfolio {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 25px;
    }
    .portfolio .container {
        max-height: 100%;
    }

    .portfolio .title h2 {
        font-size: 34px;
        padding-top: 60px;
    }
    
   
    .page-footer p {
        text-align: center;
        font-size: 10px;
        left: 0;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 0;
        float: none;
        position: relative;
    }
    
    .page-footer ul {
        float: none;
        padding-left: 0px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page-footer i {
        margin: 0;
    }

 
}

@media (max-width: 960px) {

    header,
    .container {
        max-width: 100%;
    }



    .flexbox-service,
    .flexbox-portfolio,
    .flexbox-nav,
    .contact-flexbox {
        flex-direction: column;
        padding: 0px;
    }

    .portfolio .box-portfolio {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 25px;
    }

  

}